.prev, .next {
  position: absolute;
  top: 30%;
  font-size: 1em;
  z-index: 1;
  cursor: pointer;
}
.container{
  margin-top: 100px;
}
img{
  height:120px;
  width: 120px;
}
.next {
  right: 0;
}
.text-center{
  color: gold;
}
@media screen and (orientation: landscape) and (min-width: 480px) {
  img{
    height:250px;
    width: 250px;
  }
  .container{
  margin-top: 300px;
}
}

